extends layout.pug

block content
    h1.section-title
        span Bult
    ol.breadcrumb.text-left
        li.active Dashboard

    if running
        .row
            .col-lg-6
                form(action="bot/stop" method="POST")
                    button.btn.pmd-btn-raised.btn-lg.btn-danger.btn-block.pmd-ripple-effect(type="submit")
                        | Stop Bot
        
                h2 Active Addons
            .col-lg-6
                .responsive-video
                    iframe(src="https://www.stream.me/stream-embed/user:"+userId+":web/chat-only?hideChat=false", frameborder="0", allowfullscreen="")
    else
        form(action="bot/start" method="POST")
            button.btn.pmd-btn-raised.btn-lg.btn-primary.btn-block(type="submit")
                | Start Bot
