<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Bult Installer
        style(type="text/css")
            include assets/install.css

    body
        .container.slider-one-active
            .steps
                .step.step-one
                    .liner
                    span Bult Login
                .step.step-two
                    .liner
                    span Warning
                .step.step-three
                    .liner
                    span Finished
            .line
                .dot-move
                .dot.zero
                .dot.center
                .dot.full
            .slider-ctr
                .slider
                    form.slider-form.slider-one
                        h2 Bult Login
                            br
                            small(style="margin-bottom: 0px;")
                                | We do not store your email or password. We use a password grant OAuth2
                                | application through our authorization proxy server.
                                | You can read the specs for this <a style="text-decoration:none;font-weight:bold;color:rgb(114, 114, 114);" href="https://tools.ietf.org/html/rfc6749#section-1.3.3" target="_blank">at IETF</a>.
                        label.input
                            input.email#bultEmail(type="text", name="email", placeholder="Email")
                            input.password#bultPassword(type="password", name="password", placeholder="Password")
                        div#errorMessageBult
                        button.first.next Login
                    form.slider-form.slider-two
                        h2 Heads Up
                        .label-ctr
                            p#errorMessageBult.
                                Once you click "Install" we'll send all the data we have to the client.
                                From there, we'll take care of the configuration for your Bult account, 
                                as well as downloading and setting up <a style="text-decoration:none;font-weight:bold;color:rgb(114, 114, 114);" target="_blank" href="https://github.com/MarkedBots/ChatBot-CE">ChatBotCE</a>
                                and <a style="text-decoration:none;font-weight:bold;color:rgb(114, 114, 114);" target="_blank" href="https://github.com/BultApp/Ember">Ember</a>
                            p#errorMessageBult.
                                This process may take a few minutes depending on your internet speed, however
                                in most cases it takes no more than a minute.
                        button.second.next Install
                    .slider-form.slider-three
                        h2 Installed
                        h3 Bult has been installed! You can now head to your dashboard!
                        a.reset(href="/", target="_blank") Bult Dashboard

                
        script(src="http://a.blackwidowcdn.com/bult/site/assets/js/jquery-1.12.2.min.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script
            include assets/install.js